<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MiniProjetweb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UtilisateurServletIndex</display-name>
    <servlet-name>UtilisateurServletIndex</servlet-name>
    <servlet-class>servlets.UtilisateurServletIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServletIndex</servlet-name>
    <url-pattern>/UtilisateurServletIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurServletLogin</display-name>
    <servlet-name>UtilisateurServletLogin</servlet-name>
    <servlet-class>servlets.UtilisateurServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServletLogin</servlet-name>
    <url-pattern>/UtilisateurServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentIndex</display-name>
    <servlet-name>AgentIndex</servlet-name>
    <servlet-class>servlets.AgentIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentIndex</servlet-name>
    <url-pattern>/AgentIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentNew</display-name>
    <servlet-name>AgentNew</servlet-name>
    <servlet-class>servlets.AgentNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentNew</servlet-name>
    <url-pattern>/AgentNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsServlet</display-name>
    <servlet-name>AccountsServlet</servlet-name>
    <servlet-class>servlets.AccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/AccountsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelServlet</display-name>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>servlets.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/HotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddagentServlet</display-name>
    <servlet-name>AddagentServlet</servlet-name>
    <servlet-class>servlets.AddagentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddagentServlet</servlet-name>
    <url-pattern>/AddagentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomTypeServlet</display-name>
    <servlet-name>RoomTypeServlet</servlet-name>
    <servlet-class>servlets.RoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypeServlet</servlet-name>
    <url-pattern>/RoomTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouttyperoomServlet</display-name>
    <servlet-name>AjouttyperoomServlet</servlet-name>
    <servlet-class>servlets.AjouttyperoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouttyperoomServlet</servlet-name>
    <url-pattern>/AjouttyperoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatetyperoomServlet</display-name>
    <servlet-name>UpdatetyperoomServlet</servlet-name>
    <servlet-class>servlets.UpdatetyperoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatetyperoomServlet</servlet-name>
    <url-pattern>/UpdatetyperoomServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Hotelsearchservlett</display-name>
    <servlet-name>Hotelsearchservlett</servlet-name>
    <servlet-class>servlets.Hotelsearchservlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotelsearchservlett</servlet-name>
    <url-pattern>/Hotelsearchservlett</url-pattern>
  </servlet-mapping>
</web-app>